body {
    height: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}


.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*バナー*/
.page_banner {
    flex-shrink: 0;
}

.banner {
    position: relative;
    display: block;
}

.banner_inner {
    width: 100%;
    max-width: 1004px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px) {
    .banner_inner {
        padding: 0 42px;
    }
}

.banner_img_pc {
}


/*ヘッダー*/
.header {
}

.header_content {
}

.header_contentInner {
    z-index: 1000;
}

@media (min-width: 768px) {
    .header_contentInner {
        display: flex;
        justify-content: space-between;
        padding: 0 12px 0 0;
        background: #fff;
    }
}

.header_header {
    display: flex;
    align-items: stretch;
    height: 48px;
    top: 0;
    left: 0;
    padding: 0 12px 0 0;
    background-color: #e60012;
}

@media (min-width: 768px) {
    .header_header {
        align-items: center;
        height: 50px;
        padding: 0;
        background-color: transparent;
    }
}

.header_gnavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background: 0 0;
    border: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    width: 14%;
    max-width: 52px;
    margin: 0 4px 0 0;
    line-height: 1;
}

@media (min-width: 768px) {
    .header_gnavButton {
        width: 52px;
        max-width: none;
        height: 50px;
        margin: 0;
    }
}

.header_gnavButtonIcon{
    width: 54%;
    max-width: 28px;
}

@media (min-width: 768px) {
    .header_gnavButtonIcon {
        width: 28%;
        max-width: none;
        margin: -7px 0 0;
    }
}

.header_logo {
    width: 40%;
    max-width: 144px;
    line-height: 1;
}

@media (min-width: 768px) {
    .header_logo {
        align-self: flex-start;
        width: auto;
        height: auto;
        max-width: none;
        border-radius: 0 0 6px 6px;
        background: #e60012;
    }
}

.header_logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
    .header_logoLink {
        display: block;
        height: auto;
        padding: 10px 20px;
    }
}

.header_gnavButtonIcon svg{
    width: 100%;
}

.header_searchWrap {
    background: #fff;
}

@media (min-width: 768px) {
    .header_searchWrap {
        display: flex;
        align-items: center;
    }
}

.header_search {
    position: relative;
    padding: 12px 16px;
}

.header_search.is_hidden:not(.is_suggest_visible) {
    overflow: hidden;
    height: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .header_search{
        width: 343px;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .header_search.is_hidden {
        overflow: visible !important;
        height: auto !important;
    }
}

.header_searchBox {
    display: flex;
    position: relative;
    height: 32px;
    border-radius: 16px;
    background-color: #f0f0f0;
    width: 100%;
    transition: width .3s cubic-bezier(.411,0,.174,1);
}

.header_search.is_hidden .header_searchBox {
    transition: none;
}

.header_searchBox::before {
    content: "";
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 16px;
    background: rgba(35,30,30,.1);
    transition: opacity .3s cubic-bezier(.411,0,.174,1);
}

.header_searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 37px;
    line-height: 1;
}

@media (min-width: 768px) {
    .header_searchIcon {
        width: 38px;
    }
}

.header_searchIcon i {
    position: relative;
    left: 2px;
}

.header_searchInput {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.header_searchInput>input {
    border: 0;
    outline: 0;
    appearance: none;
    line-height: normal;
    width: 100%;
    height: 100%;
    padding: 6px 35px 6px 0;
    background: 0 0;
    font-size: 16px;
    color: #231e1e;
}

.header_searchController {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: opacity .1s cubic-bezier(.411,0,.174,1);
    pointer-events: none;
}

.header_searchControllerClear {
    display: block;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 2px;
    position: absolute;
    right: 96px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .1s cubic-bezier(.411,0,.174,1);
    pointer-events: none;
}

@media  (min-width: 768px) {
    .header_searchControllerClear {
        right: 7px;
    }
}

.header_searchControllerClear>i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: background-color .1s cubic-bezier(.411,0,.174,1);
}

.header_searchControllerClear:hover>i, .header_searchControllerClear>i {
    background-color: transparent;
}

.header_suggest {
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    background-color: transparent;
    transition: opacity .3s cubic-bezier(.411,0,.174,1),background-color .3s 0s;
}

@media (min-width: 768px) {
    .header_suggest {
        position: absolute;
        border: 3px solid #f0f0f0;
        overflow-y: auto;
    }
}

.header_suggestBackground {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.header_popular {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 12px 0 17px;
}

@media (min-width: 768px) {
    position: relative;
    padding-top: 17px;
}

.header_suggestLabel {
    padding: 0 20px 9px;
    font-size: 12px;
    font-weight: 700;
    color: #a09696;
}

.header_suggestItems {

}

.header_suggestItem {

}

.header_suggestItem>a {
    display: block;
    margin: 0 3px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 700;
    color: #231e1e;
    transition: color .1s cubic-bezier(.411,0,.174,1);
}

.header_iconMenu_pc {
    display: none;
}

@media (min-width: 768px) {
    .header_iconMenu_pc {
        display: flex;
        align-items: center;
        margin: 0 0 0 16px;
        line-height: 1;
    }
}

.header_iconMenuItem_pc {

}

@media (min-width: 768px) {
    .header_iconMenuItem_pc+.header_iconMenuItem_pc {
        margin: 0 0 0 12px;
    }
}

.header_navigation {
    margin-top: -12px;
}

@media (min-width: 768px) {
    .header_navigation {
        margin-top: 0;
    }
}

.is_search_hidden .header_navigation {
    margin-top: 0;
}

.header_navigationGroup {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    color: #231e1e;
    font-weight: 700;
}

@media (min-width: 768px){
    .header_navigationGroup {
        justify-content: center;
    }
}

.header_navigationItem {
    height: 50px;
    border-bottom: solid 4px transparent;
}

.header_navigationLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 4px;
    font-size: 11px;
    transition: color .1s cubic-bezier(.411,0,.174,1);
}

@media (min-width: 375px) {
    .header_navigationLink {
        padding: 0 8px;
        font-size: 12px;
    }
}

@media (min-width: 1025px) {
    .header_navigationLink {
        font-size: 14px;
    }
}

.header_navigationItem+.header_navigationItem {
    margin: 0 0 0 32px;
}

.header_navigationItem.is_current {
    border-bottom-color: #e60012;
}

.header_navigationItem.is_current .header_navigationLink,.header_navigationLink:hover {
    color: #e60012;
}

.page_main {
    flex-grow: 1;
    flex-shrink: 0;
}


.product_carousel {
}

.heroCarousel,.heroCarousel_feature {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.heroCarousel_imageList {
    display: flex;
    opacity: 0;
    transition: opacity .3s cubic-bezier(.411,0,.174,1);
}

.heroCarousel_imageList.slick_initialized {
    opacity: 1;
}

.slick_slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}

@media (min-width: 768px) {
    .heroCarousel_imageList {
        background-color: #f9f9f9;
    }
}

.slick_prev {
    left: 0;
}

.slick_arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
}

@media (min-width: 885px) {
    .heroCarousel .slick_arrow {
        width: 100px;
    }
}

@media (min-width: 768px) {
    .heroCarousel .slick_arrow {
        width: 40px;
    }
}

.slick_prev button {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    left: 0;
}

.slick_arrow button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 48px;
    transform: translateY(-50%);
    transition: opacity .3s cubic-bezier(.411,0,.174,1);
    background-color: #d20313;
    border: none;
    outline: 0;
    cursor: pointer;
    opacity: 0;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
}

.slick_arrow button i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
}

.slick_list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick_slider .slick_list, .slick_slider .slick_track {
    transform: translate3d(0,0,0);
}

.slick_track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick_track:after, .slick_track:before {
    content: "";
    display: table;
}

.slick_slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.slick_initialized .slick_slide {
    display: block;
}

@media (min-height: 768px) {
    .heroCarousel_image_feature ,.heroCarousel_image_rectangle,.heroCarousel_image_squareRectangle {
        width: 684px;
        height: 385px;
        margin: 0 2px;
    }
}

.heroCarousel_image_feature,.heroCarousel_image_rectangle,.heroCarousel_image_image_square,.heroCarousel_image_squareRectangle {
    overflow: hidden;
    position: relative;
    margin: 0 4px;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.heroCarousel_image_squareRectangle .heroCarousel_imageContent, .heroCarousel_image_squareRectangle .heroCarousel_videoContent {
    padding-top: 100%!important;
}

.heroCarousel_imageContent, .heroCarousel_videoContent {
    position: relative;
    display: block;
}

@media (min-width: 768px) {
    .heroCarousel_image_squareRectangle .heroCarousel_imageContent, .heroCarousel_image_squareRectangle .heroCarousel_videoContent {
        padding-top: 56.25%!important;
    }
}

.heroCarousel_imageItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .heroCarousel_image_squareRectangle .heroCarousel_imageItem>img {
        width: auto;
        height: 100%;
    }
}

.heroCarousel_image_squareRectangle .heroCarousel_imageItem>img {
    width: 100%;
    height: auto;
}

.slick_slide img {
    display: block;
}

.heroCarousel_imageItem>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slick_next {
    right: 0;
}

.slick_next button {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    right: 0;
}

.slick_next button i {
    margin-left: auto;
}

.slick_arrow button i path {
    fill: #fff;
}

.heroCarousel_thumbnailArea {
    display: flex;
    justify-content: center;
    max-width: 684px;
    margin: 12px auto -4px;
    padding: 0 22px;
}

@media  (min-width: 768px) {
    .heroCarousel_thumbnailArea {
        padding: 0 8px;
    }
}

.heroCarousel_thumbnailArea .slick_dots {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -2px 0 -3px;
}

.heroCarousel_thumbnailArea .slick_dots li {
    position: relative;
    flex: 0 0 38px;
    width: 38px;
    margin: 0 2px 4px 2px;
    cursor: pointer;
}

.heroCarousel_thumbnailArea .heroCarousel_thumbnailItem {
    height: 0;
    padding-top: 100%;
    background-color: #f0f0f0;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.heroCarousel_thumbnailArea .heroCarousel_thumbnailItem::before {
    content: "";
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(35,30,30,.1);
    transition: opacity .1s cubic-bezier(.411,0,.174,1);
    z-index: 1;
    pointer-events: none;
}

.heroCarousel_thumbnailArea .heroCarousel_thumbnailItem img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.heroCarousel_thumbnailArea .slick_dots .slick_active::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: 0;
    border: 3px solid #e60012;
    border-radius: 2px;
    pointer-events: none;
    will-change: transform;
    z-index: 1;
}

.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    touch-action: none;
    z-index: 1500;
    outline: 0;
}

.pswp_bg {
    will-change: opacity;
    transition: opacity 333ms cubic-bezier(.4,0,.22,1);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transform: translateZ(0);
}

.pswp * {
    box-sizing: border-box;
}

.pswp_scroll_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pswp_container .pswp_zoom_wrap {
    -webkit-backface-visibility: hidden;
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pswp_container .pswp_img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.pswp_item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.pswp_ui {
    visibility: visible;
    opacity: 1;
    z-index: 1550;
}

.pswp_ui_hidden .pswp_button_arrow_left, .pswp_ui_hidden .pswp_button_arrow_right, .pswp_ui_hidden .pswp_caption, .pswp_ui_hidden .pswp_top_bar {
    opacity: .001;
}

.pswp_has_mouse .pswp_button_arrow_left, .pswp_has_mouse .pswp_button_arrow_right, .pswp_caption, .pswp_top_bar {
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    transition: opacity 333ms cubic-bezier(.4,0,.22,1);
}

.pswp_caption, .pswp_top_bar {
    background-color: rgba(0,0,0,.5);
}

.pswp_top_bar {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
}

.pswp_counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #fff;
    opacity: .75;
    padding: 0 10px;
}

.pswp_counter .pswp_share_modal {
    -webkit-user-select: none;
    user-select: none;
}

.pswp_button_close {
    background-position: 0 -44px;
}

.pswp_button {
    width: 44px;
    height: 44px;
    position: relative;
    background: 0 0;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: .75;
    transition: opacity .2s;
    box-shadow: none;
}

.pswp_button_fs {
    display: none;
}

.pswp_button_zoom {
    display: none;
    background-position: -88px 0;
}

.pswp_button, .pswp_button_arrow_left:before, .pswp_button_arrow_right:before {
    background: 0 0 no-repeat;
    background-size: 264px 88px;
    width: 44px;
    height: 44px;
}

.pswp_preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    transition: opacity .25s ease-out;
    will-change: opacity;
    direction: ltr;
}

.pswp_preloader_icn {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.pswp_share_modal_hidden {
    display: none;
}

.pswp_share_modal {
    display: block;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity .25s ease-out;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}

.pswp_share_tooltip {
    z-index: 1620;
    position: absolute;
    background: #fff;
    top: 56px;
    border-radius: 2px;
    width: auto;
    right: 44px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    transform: translateY(6px);
    transition: transform .25s;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

.pswp_caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px;
}

.pswp_caption_center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #ccc;
}








.product_main {
    margin: 0 auto;
    padding: 0 16px;
    color: #231e1e;
}


.product_cardLists {
}


.footer {
    margin-top: auto;
    padding-top: 56px;
    color: #231e1e;
}


.footer_container {
    margin: 0 auto;
    padding: 0 16px;
    background-color: #f7f7f7;
}

.footer_content {
}

.footer_breadcrumbs {
    margin: 0 0 11px;
    padding: 9px 0 0;
    color: #a09696;
    font-size: 14px;
}

.footer_recommend {
    padding: 22px 0 0;
    margin: 0 0 27px;
}

.footer_band {
    padding: 8px 0 0;
}

.footer_menu {
    padding: 0 0 37px;
}

.footer_footer {
    color: #a09696;
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}

*, ::after, ::before{
    box-sizing: border-box;
}

menu,ol,ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img,svg {
    vertical-align: top;
    max-width: 100%;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

form {
    display: block;
    margin-top: 0;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}



